@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    width: 70%;
    outline: none;
}

input:focus {
    border-color: #3498db;
}

button {
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#addTask {
    background-color: #3498db;
    color: #fff;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

#addTask:hover {
    background-color: #2980b9;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.tabs button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    transition: background-color 0.3s, color 0.3s;
    width: 120px;
}

.tabs button.active {
    background-color: #3498db;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    flex-wrap: wrap;
}

.pending {
    background-color: #ffeaa7;
}

.completed {
    background-color: #55efc4;
}

.editTask,
.deleteTask,
.statusTask {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editTask:hover {
    background-color: #b87304;
}

.deleteTask {
    background-color: #e74c3c;
}

.deleteTask:hover {
    background-color: #c0392b;
}

.statusTask {
    background-color: #302b93;
    width: auto;
}

.statusTask:hover {
    background-color: #27ae60;
}

#validate,
#validate-edit {
    color: #e74c3c;
    display: none;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.editInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.saveTask {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveTask:hover {
    background-color: #218c4d;
}

.cancelTask {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancelTask:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 1rem;
    }

    .input-group input {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .input-group button {
        width: 50%;
        border-radius: 15px;
    }

    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tabs button {
        width: 130px;
        margin: 5px 0;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    .editTask,
    .deleteTask,
    .statusTask,
    .saveTask,
    .cancelTask {
        width: 60%;
        margin: 5px 0;
        position: static;
    }

    .saveTask,
    .cancelTask {
        width: 90px;
    }

    .editInput {
        width: 100%;
        margin-bottom: 10px;
    }
}